{% extends "index.html" %} {% block title %}Add New Feedback {% endblock %} {%
block content %}
<h1 class="text-center display-1">Add New Feedback</h1>

<div class="container w-50">
  <form id="user-feedback-form" method="POST">
    {{ form.hidden_tag() }}
    <!--add type=hidden form fields -->

    {% for field in form if field.widget.input_type != 'hidden' %}

    <div class="form-group my-3">
      {{ field.label }} {{ field (class_="form-control") }} {% for error in
      field.errors %} <span class="text-danger">{{ error }} </span>{% endfor %}
    </div>

    {% endfor %}
    <a href="/users/{{session['username']}}" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
{% endblock %}
